.App {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.walkthrough-panels {
  display: flex;
  flex-direction: row;
}

.walkthrough-panel {
  border-width: 10px 0 5px 1px;
  border-color: lightgrey;
  border-style: solid;
}

.walkthrough-panels-tutorial {
  padding: 0.5em;
  flex: 1 1 auto;
  background-color: hsl(0deg, 0%, 30%);
  color: yellow;
}

.walkthrough-panels-input {
  flex: 1 1 auto;
}

.walkthrough-panels-output {
  padding: 0.5em;
  flex: 1 1 auto;
}

