.App {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.walkthrough-panels {
  display: flex;
  flex-direction: row;
}

.walkthrough-panel {
  border-width: 10px 0 5px 1px;
  border-color: lightgrey;
  border-style: solid;
}

.walkthrough-panels-tutorial {
  flex: 1 1 auto; 
  background-color: hsl(0deg, 0%, 20%);
  color: white;
  width: 38%;
}

.walkthrough-panels-tutorial-markdown {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  font-size: 0.9em;
}

.walkthrough-panels-io {
  display: flex;
  flex-direction: column;
  flex: 5 1 0;
}

.walkthrough-panels-input {
  flex: 1 1 auto;
}

.walkthrough-panels-output {
  padding: 0.5em;
  flex: 1 1 10em;
  border-width: 10px 0 0;
  border-color: lightgrey;
  border-style: solid;
  background-color: hsl(0deg, 0%, 10%);
  color: white;
  font-size: 0.8em;
  font-family: 'Courier New', Courier, monospace;
}

.walkthrough-controls {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  background-color: black;
}

.walkthrough-control-button {
  width: 2.5em;
  background-color: darkslategray;
  color: yellow;
}

.walkthrough-control-button-run {
  background-color: hsl(100, 100%, 30%);
  color: white;
  font-weight: bold;
}

a, a:visited {
  color: yellow;
}

a:hover {
  color: darkgoldenrod
}

