.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 70%;
  margin-left: 15em;
  padding: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: hsl(0deg, 0%, 10%);
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results-content {
  margin-top: 1em;
}

.results-table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

.results-table th, td {
  padding: 0.4em;
  word-break: break-all;
}

.results-table th {
  background-color: black;
  color: yellow;
}

.results-table td {
  background-color: hsl(0deg, 0%, 20%);
  color: white;
  border: 1px solid hsl(200deg, 0%, 50%);
}

.query-text-entry {
  width: 90%;
  background-color: darkslategrey;
  color: yellow;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid yellow;
}

.query-text-submit {
  background-color: hsl(0deg, 0%, 20%);
  color: white;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.1em;
  color: yellow;
  width: 14em;
}

.side-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 8em;
  line-height: 2em;
  text-align: left;
}

.side-bar-text {
  margin-top: 0.5em;
  margin-left: 1em;
}

.side-bar-about-app {
  margin-top: 2em;
  color: yellow;
}

.logo-vega {
  position: relative;
  top: 1em;
  left: 0em;
  width: 5em;
  height: 5em;
}

.logo-vega-small {
  display: inline;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin-right: 0.3em;
}

.query-form-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  width: 75%;
}

.query-form-text-panel {
  flex: 1 1 auto;
}

.query-form-details-panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em 1em;
}

.query-form-heading {
  padding: 0;
  margin: 0.2em;
}

.query-form-select {
  background-color: darkslategrey;
  color: yellow;
  font-size: 1.1em;
  padding: 0.5em;
  outline: 1px solid black;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

.query-form-select option {
  font-size: 1.1em;
}

.max-records-message {
  color: yellow;
  padding: 0.5em;
}

a, a:visited {
  color: yellow;
}

a:hover {
  color: darkgoldenrod
}

.info-panel-trigger {
  text-align: right;
}

.info-panel {
  position: absolute;
  right: 0.5em;
  top: 0;
  width: 22%;
  margin: 0.25em;
}

.info-panel-info {
  border: 1px solid yellow;
  padding: 0.5em;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .container {
    margin-left: 0;
  }
  .query-form-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 0.7em;
  }

  .container {
    width: 94%;
  }

  .query-form-container {
    width: 94%;
    flex-direction: column;
    margin: auto;
  }

  .info-panel {
    position: relative;
    right: 0;
    width: 94%;
    margin: auto;
  }
}
